    
html{
    height: 100%;
    background: url(../image/background.jpg) no-repeat center fixed; 
    background-size: cover;
}

body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #2A3744;
  padding: 0.5em;
  position: sticky;
  top: 0;
}

article {
  margin: auto;
  padding: 0 10%;
  font-family: sans-serif;
  height:100%;
  max-width: 800px;
  padding-top: 50px;
}

article p {
  text-align: justify;
  color: #fff4a3; 
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 48px; 
  margin: 0;
  
}

h2 { 
    font-size: 30px; 
    letter-spacing: -1px; 
    color: whitesmoke; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000;
    margin: 10px 0 24px; 
    text-align: center; 
    line-height: 50px; 
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

nav {
  margin: 0.5em 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
  
}

nav a:hover {
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  margin: 10px 10px 10px 10px;
}


.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
}


.navbar ul {
  font-size: 0;
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  padding:20px;
  position: relative;
}

.navbar ul li a{
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  padding-right:.5em;
  color: #f2f2f2;
  float: left;
  display: block;
  text-align: center;
  
}

.navbar ul li ul {
  display: none;
}
.navbar ul li:hover {
  cursor: pointer;
  background-color: whitesmoke;
}


.simulation {
		  width: 600px;
		  height: 600px;
		  border: 1px solid #DEDEDE;
		  display: block;
		  margin: 0 auto;
		  padding: 10px;
		  margin-bottom:20px;
		}
                
                
               
 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/*Sliedshow*/
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
         

/*End Sliedshow*/