body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

#quiz {
    text-indent: 10px;
     font-size : 25px;
    display:none;
}

.button {
    border-radius:5px;
    width: 40px;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    
    height: 100%;
    width:50%;
    margin:auto;
    padding: 20px 25px 40px 10px;
    background-color: rgba(255,255,255,0.5);
    border:2px solid ;
    border-radius:2px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 2px 2px 2px #888;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}